/*
    product_filster STYLE
    PRESENT IN : product_list/index.html.twig
*/

/* --------------------------------------------------- */
/* ------------------------- Common to all             */
/* --------------------------------------------------- */

#prod_filter {
    width: 85%;
    margin: 0 auto;
    color: #6A3E2A;
    padding: 1rem 0;
}

#prod_filter h3 {
    border-top: 1px solid #EED8C1;
    padding-top: 1rem;
}

#prod_filter h3:first-of-type {
    border-top: none;
}

.filter-btn {
    background-color: #3DA272;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0.8rem;
}

.form-check-input:checked {
    background-color: #3da272; !important;
    border-color: #3da272; !important;
}

#prod-filter-exit {
    color: #343131;
    text-decoration: none;
    font-size: 1.5rem;
    float: right;
    display: none;
}

@media (max-width: 850px) {
    #prod-filter-exit {
        display: block;
    }
}

