/*
    products STYLE
    PRESENT IN : products/index.html.twig
*/

/* --------------------------------------------------- */
/* ------------------------- Common to all             */
/* --------------------------------------------------- */

#prod-container {
    display: flex;
}

#prod-filter-container {
    width: 25%;
    margin-bottom: 2rem;
}

#prod-list {
    background-color: white;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* --------------------------------------------------- */
/* ------------------------- Pagination                */
/* --------------------------------------------------- */

.pagination {
    display: inline;
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.pagination a {
    color: #343131;
}

.pagination .current {
    font-size: 1.3rem;
    font-weight: bold;
}

.show-filter-btn {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0;
    width: 258px;
    margin: 1rem auto;
    background-color: #6a3e2a;
    color: #efddc9;
    display: none;
}

/* --------------------------------------------------- */
/* ------------------------- mobile                    */
/* --------------------------------------------------- */


@media (max-width: 1100px) {
    #prod-filter-container {
        background: white;
        width: 30%;
    }

    #prod-list {
        justify-content: center;
    }


}

@media (max-width: 850px) {
    #prod-filter-container {
        background: white;
        position: fixed;
        top: 0;
        bottom:0;
        left: -200vw;
        min-height: 100vh;
        width: 100vw;

        overflow-y: scroll;
        transition: left 150ms ease 0ms;
    }

    #prod-list {
        width: 100%;
    }

    .show-filter-btn {
        display: block;
    }

    #prod-filter-exit {
        display: block; !important;
    }
}