{%  extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h4 class="display-4">Administration</h4>
        <p class="lead">Bienvenue dans l'interface d'administration de votre site internet</p>
    </div>

{% endblock %}